@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --Soft-Cyan: hsl(174, 77%, 80%);
  --Strong-Cyan: hsl(174, 86%, 45%);
  --Light-Grayish-Red: hsl(15, 80%, 80%);
  --Light-Red: hsl(15, 100%, 60%);
  --Pale-Blue: hsl(226, 100%, 87%);

  --White: hsl (0, 0%, 100%);
  --Very-Pale-Blue: hsl(230, 100%, 99%);
  --Light-Grayish-Blue: hsl(224, 65%, 95%);
  --Light-Grayish-Blue: hsl(223, 50%, 87%);
  --Grayish-Blue: hsl(225, 20%, 60%);
  --Dark-Desaturated-Blue: hsl(227, 35%, 25%);
}
body {
  background-image: url("./images/bg-pattern.svg");
  min-height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
}

.title-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 30vw;
  margin-bottom: 4em;
}

.title-box img {
  position: absolute;
  z-index: -1;
}

.title-box h1 {
  margin-bottom: 0.2em;
  color: var(--Dark-Desaturated-Blue);
}

.title-box p {
  margin-top: 0;
  color: var(--Grayish-Blue);
}

.traffic-container {
  background-color: hsl(0, 0%, 95%);
  width: 35vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  padding: 2em 3em;
  margin-top: -2em;
  border-radius: 0.5em;
}

.trial-options-box {
  display: flex;
  flex-direction: column;
}

.views-pricing-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -1em;
  margin-bottom: 1.1em;
}
.views {
  color: gray;
}

.price-month {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-month h1 {
  color: var(--Dark-Desaturated-Blue);
}
.price-month span {
  color: gray;
}

.slide-container [type="range"] {
  -webkit-appearance: none;

  height: 13px;
  width: 100%;
  border-radius: 6px;
  background: #d4d2d2;
  outline: none;
  padding: 0;
  margin: 0;
}
.slide-container [type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background: url("./images/icon-slider.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--Strong-Cyan);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 1.5em 1em var(--Soft-Cyan);
}
.slide-container [type="range"]::-webkit-slider-thumb:active {
  background-color: hsl(174, 86%, 60%);
}

.slide-bar {
  position: relative;

  height: 13px;
  top: -17.6px;
  background-color: var(--Soft-Cyan);
  padding: 0;
  margin: 0;
  border: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.subscription-option {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.1em;
}

.subscription-option p {
  color: gray;
}

.subscription-option p:nth-child(4) {
  margin-left: 0.5em;
  background-color: var(--Light-Grayish-Red);
  color: var(--Light-Red);
  padding: 0.1em 0.5em;
  border-radius: 100px;
  border: 1px solid var(--Light-Red);
}
.subscription-option p:last-child {
  display: none;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 18px;
  width: 40px;
  background-color: #d4d2d2;
  margin: 0 1em 0 1em;
  border-radius: 1000px;
  cursor: pointer;
  padding: 0.5em 0.2em;
}

.btn-container-active {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 18px;
  width: 40px;
  background-color: gray;
  margin: 0 1em 0 1em;
  border-radius: 1000px;
  cursor: pointer;
  padding: 0.5em 0.2em;
}

.btn {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
}

.trial-submit-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.7em;
}

.trial-submit-box::before {
  content: "";
  width: 35vw;
  height: 1px;
  background-color: #d4d2d2;
  position: absolute;
  left: 32.4%;
  bottom: 30%;
}

.trial-submit-box ul {
  list-style-type: none;
  padding-left: 0;
}

.trial-submit-box ul li {
  margin-bottom: 0.5em;
  color: gray;
}

.trial-submit-box ul li:last-child {
  margin-bottom: 0;
}

.submit-button button {
  color: white;
  background-color: var(--Dark-Desaturated-Blue);
  border: none;
  padding: 1em 3em;
  border-radius: 10000px;
  cursor: pointer;
  font-weight: 500;
  font-family: "Manrope", sans-serif;

  color: var(--Pale-Blue);
}

.submit-button button:hover {
  background-color: hsl(227, 35%, 35%);
}

.attribution {
  margin-top: 2em;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 376px) {
  body {
    background-size: cover;
    background-position: center;
  }
  .title-box {
    width: 90%;
    margin-top: -2em;
    margin-bottom: 2em;
  }

  .title-box h1 {
    font-size: 1.4rem;
    margin-bottom: 0.5em;
  }

  .title-box p {
    text-align: center;
    font-size: 1rem;
    width: 70%;
    line-height: 1.7em;
  }

  .traffic-container {
    width: 90%;
    height: 65vh;
    background-color: rgb(236, 229, 229);
  }
  .views-pricing-box {
    flex-direction: column;
  }

  .price-month {
    margin-top: 4rem;
  }

  .price-month h1 {
    font-size: 2.2rem;
    margin-right: 0.2em;
  }
  .slide-container {
    position: absolute;
    width: 80%;
    top: 41%;
    left: 10%;
  }
  .slide-container [type="range"] {
    -webkit-appearance: none;

    height: 10px;
    width: 100%;
  }
  .slide-bar {
    height: 10px;
    top: -15px;
  }
  .subscription-option {
    margin-top: 0.3em;
    position: relative;
  }

  .subscription-option p:first-child {
    position: absolute;
    left: -7%;
    color: gray;
    font-size: 0.8rem;
    margin: 0;
  }
  .subscription-option p:nth-child(3) {
    position: absolute;
    font-size: 0.8rem;
    right: 7%;
  }

  .subscription-option p:nth-child(4) {
    display: none;
  }

  .subscription-option p:last-child {
    display: flex;
    position: absolute;
    right: -15%;
    background-color: var(--Light-Grayish-Red);
    color: var(--Light-Red);
    padding: 0.2em 0.8em;
    border-radius: 100px;
    font-size: 0.7rem;
    border: none;
  }
  .btn-container {
    position: absolute;
    left: 39%;
    margin: 0;
    width: 35px;
  }
  .btn-container-active {
    position: absolute;
    margin: 0;
    margin-right: 6.5em;
    width: 35px;
  }
  .trial-submit-box {
    flex-direction: column;
    justify-content: center;
    margin-top: 4em;
  }
  .trial-submit-box::before {
    width: 85vw;
    left: 7.5%;
    bottom: 32%;
  }
  .trial-submit-box ul li {
    font-size: 0.8rem;
    text-align: center;
    line-height: 2.3em;
    margin: 0;
  }
  .submit-button button {
    margin-top: 1.1em;
  }
  .attribution {
    display: none;
  }
}
